.item {
    display: flex;
    padding: 1rem 1.5rem;
    width: 60rem;
    height: 5.5rem;
    margin: 20px auto;
    background-color: white;
}

.first {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 60rem;
    gap: 1.5rem;
}

.first h3 {
    margin: auto 0;
}

.image {
    width: 6rem;
    height: 4.5rem;
    border: 3px solid #FA003F;
    border-radius: 10px;
    background: gray;
}

.image img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.second {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5.5rem;
    height: 2.3rem;
    background-image: linear-gradient(to right,rgb(243, 91, 91),#FA003F);
    padding: 0.6rem;
    border-radius: 10px;
}

.amount button {
    background: none;
    border: none;
    font-size: larger;
    font-weight: 600;
    color: white;
    cursor: pointer;    
}

.amount div {
    font-size: larger;
    font-weight: 600;
    color: white;
}

.price {
    font-size: larger;
    font-weight: 600;
}

.trash {
    cursor: pointer;
    border: none;
    background: none;
    color: pink;
}